
body{
    margin: 20px 30px 75px 20px;

    background-image: url("/image/background.jpg");
}

#logo{

    width: 65px;
    height: 80px;
}

header{
    height: 500px;
    background-image: url("/image/header.jpg");
}


ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

header h1{

    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 90px;
  
}

section{
    display: flex;
    background-color: rgba(182,214,237,255);
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
}

section p{

    border: 3px solid black;
    padding: 5px;
    border-radius: 20px;
    
}

footer{

    height: 350px;
}

.divbir{
    background-color: rgb(56, 56, 56);
    color: white;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    
    gap: 30px;


}

.divbir a i{

    font-size: 30px;
    color: white;
 
}


.eleman p{
    margin-top: 50px;
    display: inline-block;
}

.eleman{
    
    text-align: center;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 30px;
}



